@model Globus.Models.hotline

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Add New Hotline</h2>
<script src="/Scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Create", "hotline", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset style="padding-left:5px;">
        <div class="form-group">
               <label for="room" style="width:auto;display:block;">Address and HotLine</label>
                <textarea name="line" id="line" rows="10" cols="80">                     
                </textarea>
                <script>
                     CKEDITOR.replace('line');
                </script> 
                @Html.ValidationMessageFor(model => model.line)
        </div>
        <div class="col-md-6" style="text-align:center;">
            <input type="button" onclick="checkField();" value="Create" style="height:50px;width:100px;"/>
        </div>
    </fieldset>
}
<div id="loadingImage" name="loadingImage" style="z-index:1000;position:fixed;left:40%;top:30%;width:32px;height:32px;display:none;">
    <img src="/Images/loading.gif">
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>


    function checkField() {
        if (document.getElementById("line").value == "") {
            alert("enter hotline!");
            document.getElementById("line").focus();
            return false;
        }

        document.getElementById("EditForm").submit();
    }

</script>
